<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <img class="img-fluid d-none d-sm-block"
        src="../../assets/imgs/welcomeLogo.jpg" alt="Welcome">
    </div>
    <div class="col-md-6">
      <!-- <router-outlet></router-outlet> -->
      <h1>Bem Vindo ao DashboardSchool!</h1>
      <p>Escolha um curso para acessar</p>
      <button class="button">T2K</button>
      <button class="button">ACROBAT</button>
      <button class="button">MOODLE</button>
    </div>
  </div>
</div>
