<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <img class="img-fluid d-none d-sm-block"
        src="../../assets/imgs/welcomeLogo.jpg" alt="Welcome">
    </div>
    <div class="col-md-6">
      <!-- <router-outlet></router-outlet> -->
      <h1>Bem Vindo ao DashboardSchool!</h1>
      <p>Escolha um curso para acessar</p>
      <button class="button">ASSISTENTE DE CONTROLE DE QUALIDADE</button>
      <button class="button">CONTROLADOR E PROGREMADOR DE PRODUÇÃO</button>
      <button class="button">DESENHISTA MECÂNICO</button>
    </div>
  </div>
</div>
