<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <img class="img-fluid d-none d-sm-block"
        src="../../assets/imgs/welcomeLogo.jpg" alt="Welcome">
    </div>
    <div class="col-md-6">
      <!-- <router-outlet></router-outlet> -->
      <h1>Bem Vindo ao DashboardSchool!</h1>
      <p>Escolha uma plataforma para acessar</p>
      <button class="button">T2K</button>
      <button class="button">ACROBAT</button>
      <button class="button">MOODLE</button>
      <!-- <p>Navegue pelos botões para acessar a Escola Senai que deseja informações</p>
      <button class="button">A. J. Lafer</button>
      <button class="button">Félix Guisard</button>
      <button class="button">Jaguariúna</button>
      <button class="button">Alvares Romi</button>
      <button class="button">Ettore Zanini</button>
      <button class="button">Humberto R. Costa</button>
      <button class="button">Mário H. Simonsen</button>
      <button class="button">Euclides Faccim</button>
      <button class="button">João B. S. da Silva</button> -->
    </div>
  </div>
</div>
